	h2{color:blue;}
	button{color:green;}
	button,input,select,textarea {
		font-family: inherit;
		font-size: 100%;
	}
	table, th, td {
		border: 1px solid black;
		width: 50%;
		text-align: center;
	}
	th {
		background-color: #04AA6D;
		color: white;
	}
		
